<%- include("partials/header"); -%>
<section id="about">
<div class="container-fluid">
<div class="row">
<div class="col-lg-6">
<div class="aboutus">
<h1>About Us</h1>
</div>
</div>
<div class="col-lg-6">
<div class="aboutusinfo">
    <p>Education is the passport to the future.
JEE Advanced is considered one of the toughest exams in the world. Here comes E2(Education Made Easy) which provides students with an ocean of information to learn, implement and finally to succeed.
Main focus will be on classes 11 and 12 based syllabus for JEE Main + Advanced.
The main objective of this project is to provide students with the best information possible and to educate them with the rich content and video lectures.
  </p>
</div>
</div>
</div>
</div>
</section>

<section id="resources">
<div class="resources-overall">
<div class="resourcesheading">
<h1>Resources</h1>
</div>
   <div class="row">
       <div class="resources-column col-lg-4 col-md-6">
	       <div class="card">
		       <div class="card-body">
			   <img src ="dailyclass.jpg">
			   </div>
			   <div class="card-footer">
			    <p>Online free youtube lectures, formula books,ncert books  available in this website</p>
			   </div>
		   </div>
	   </div>
	   <div class="resources-column col-lg-4 col-md-6">
	       <div class="card">
		       <div class="card-body">
			   <img src ="quiz.jpg">
			   </div>
			   <div class="card-footer">
			    <p>Online quiz for students to test their concepts and improving it further.</p>
			   </div>
		   </div>
	   </div>
	   <div class="resources-column col-lg-4 col-md-6">
	       <div class="card">
		       <div class="card-body">
			   <img src ="onlinelearn.jpg">
			   </div>
			   <div class="card-footer">
			    <p>Learn online anytime 24/7 all materials available free by best sites.</p>
			   </div>
		   </div>
	   </div>
   </div>
  </div>
</section>



<section id="keeplearning">
<div class = "container-fluid-learn">
    <div class="row">
        <div class="col-lg-6">
            <div class="keeplearningheading">
                <h1>Keep Learning</h1>
                <p>Download online study materials,formula books,Ncert books and more anytime.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="keeplearningicon">
               <img src="keeplearning.jpg" width="350" height="300">
            </div>
        </div>
    </div>
</div>
</section>
<%- include("partials/footer"); -%>